body {
  background-color: #a9a9a9;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: "Dirty Ego";
  font-size: 100px;
}
.back a {
  color: red;
  text-decoration: none;
  font-size: 26px;
}
#sit {
  height: 500px;
  width: 500px;
  margin-top: -15%;
  margin-left: 27%;
}
#hua {
  height: 200px;
  width: 300px;
  margin-left: 100px;
}
#jeans {
  height: 400px;
  width: 300px;
}
#tee {
  height: 400px;
  width: 450px;
}
