body {
  background-color: #a9a9a9;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}
a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  background-color: red;
}
h1 {
  text-align: center;
  font-family: "Dirty Ego";
  font-size: 200px;
}
#aus {
  height: 300px;
  width: 200px;
}
#threess {
  height: 200px;
  width: 270px;
  margin-top: -200px;
  margin-left: 450px;
}
#cartoon {
  height: 520px;
  width: 650px;
  margin-top: -365px;
  margin-left: -100px;
}

.grid_categories {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}

p {
  text-align: center;
  margin-top: -90px;
  font-family: "Aladin", cursive;
  font-size: 25px;
  font-weight: lighter;
}
#grid_menu {
  display: grid;
  grid-template-areas:
    "austin mens"
    "womens easter"
    "nails jewelry"
    "kicks travis";
  align-items: center;
  margin-top: 0%;
}

.sit {
  height: 200px;
  width: 200px;
  margin-top: 40px;
}
#austin,
#easter {
  height: 500px;
  width: 400px;
  margin-top: 30px;
  align-items: center;
}
.nails {
  height: 400px;
  width: 300px;
  margin-bottom: 50%;
}
 {
  height: 200px;
  width: 200px;
  align-items: center;
}
#travis,
#pink {
  height: 220px;
  width: 350px;
}
.m,
.w,
#jewelry,
#kicks {
  font-size: 50px;
}
