body {
  background-color: white;
  text-align: center;
  font-family: "Vibur";
}

h1 {
  font-size: 50px;
  background-color: pink;
  color: white;
}

.mountain,
.scared,
.sheep,
.kayak,
.glow,
.hobbit,
.water {
  height: 400px;
  width: 600px;
}
#mtn {
  height: 400px;
  width: 600px;
}
#tips {
  text-align: center;
}

#top {
  text-align: left;
  font-size: 30px;
}
